#main {
    display: flex;
    flex-direction: row;

    height: 950px;
    margin: 15px 0;
}

#main .contains {
    display: flex;

    width: 80%;
    height: 100%;
    padding: 0 20px;

    align-items: center;
}

#main .contains .contents {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

/* name - container css 는  indexl-login.css 에 만들어둠 */
/*#main .contains .contents .name-container {}*/

/*게임박스 사진 css */
/*hover 효과는 index-body-main-game.css*/
#main .contains .contents .main-game {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#main .contains .contents .main-game div {
    display: flex;
    justify-content: normal;
    justify-items: end;
}


/* Card Game CSS Begin */

#main .contains .contents .main-game .game-nav .nav {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50px;
    width: 100%;
    height: 800px;
    margin: 15px auto;

    background: linear-gradient(-45deg, #8ffada, #bbe8f7, #dfe8eb);
    opacity: 0.8;

    box-shadow: 1px 1px 10px #333;
}

#main .contains .contents .main-game .game-nav .nav h1 {
    font-weight: 800;
    font-size: 1.5em;
    padding-top: 15px;
    height: 100%;
}

#main .contains .contents .main-game .game-nav .nav h1 span{
    font-weight: 800;
    font-size: 1.2em;
    padding-top: 15px;

}

#main .contains .contents .main-game .game-nav .nav section {
    /* border: 5px solid #000; */
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    grid-gap: 1rem;
    margin-bottom: 30px;
    perspective: 800px; 
}

#main .contains .contents .main-game .game-nav .nav section .card {
    border: 3px solid rgba(35, 31, 33, 0.8);
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 20px;
}

#main .contains .contents .main-game .game-nav .nav section .face,
#main .contains .contents .main-game .game-nav .nav section .back {
    
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

}

#main .contains .contents .main-game .game-nav .nav section .back {
    background: rgb(238, 65, 154);
    backface-visibility: hidden;
}

/* 카드에 별도의 스타일 지정 토글했을때 */
.toggleCard {
    transform: rotateY(180deg);
}

 /* 클릭시 카드 게임 설명 구간 */
#main .contains .contents .main-game .game-nav-sub .nav-sub .btn .info-btn #gameExplain {
    display: none;
    background: white;
    opacity: 0.9;
    border-radius: 20px;
    width: 500px;
    height: 340px;
    border: 5px dashed rgba(164, 78, 205, 0.8);
    padding: 25px;
    color: black;

    position: absolute;
    bottom: 310px;
    right: 80px;

    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

}


/* Card Game CSS End */

/* button css begin*/
button {
    all: unset;
}

#main .contains .contents .main-game .game-nav-sub {
    display: flex;
    height: 10%;
}

#main .contains .contents .main-game .game-nav-sub .nav-sub {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px auto 0;
    width: 100%;
}

#main .contains .contents .main-game .game-nav-sub .nav-sub .btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;

    font-size: 14px;
    cursor: pointer;
}



/* 광고 --------------- */


#main .banner1 {
    width: 15%;
    overflow: hidden;
    height: 100%;
}

#main .banner1 img {
    display: block;


    margin-bottom: 13px;
    width: 100%;
    height: min-content;

    object-fit: cover;
}

#main .banner2 {
    width: 15%;
    overflow: hidden;
    height: 100%;
}

#main .banner1 img {
    display: block;


    margin-bottom: 13px;
    width: 100%;
    height: min-content;

    object-fit: fill;
}

/* 광고 --------------- */