@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.game-img {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;

    margin: 10px  0;
    width: 100%;

    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    object-fit: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}
figure.game-img * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
figure.game-img img {
    max-width: 100%;
    position: relative;
    opacity: 1;
}
figure.game-img figcaption {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid #fff;
    border-width: 1px 1px 0;
}
figure.game-img .heading {
    overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
figure.game-img h2 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;
}
figure.game-img h2 span {
    font-weight: 800;
}
figure.game-img h2:before,
figure.game-img h2:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    top: 50%;
}
figure.game-img h2:before {
    left: -1000%;
}
figure.game-img h2:after {
    right: -1000%;
}
figure.game-img p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 0.9em;
}
figure.game-img a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
figure.game-img:hover img,
figure.game-img.hover img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.game-img:hover figcaption,
figure.game-img.hover figcaption {
    top: 7%;
    bottom: 7%;
}
figure.game-img:hover p,
figure.game-img.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}